body{
      display:flex;
      flex-direction: column;
      user-select:none;
      font-family: "Precision Sans", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
      margin: 0;
    }

    h1{
    text-align: center;
    margin:2em;
    display: none
  }

     #progress {
      position: relative;
      width:100%;
      height:64px;
      background-color: #eee;
      position: fixed;
      top:0;
     }

     .prompt{
      padding:5px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height:100%;
     }

     .main {

      width:100%;
     
      margin-top: 24px;
      
     }

     #myform{
      margin-top: 48px;
     }

     .formrw{
      margin:16px;
     }

     .formrw input{
      width:100%;
      height:36px;
      border:1px solid #ddd;
      font-size: 1.1em;
     }

     .section{
      margin-top: 24px;
      margin-bottom: 24px;
     
      padding:8px;
     }

     .merge {
      display: flex;
      flex-direction: row;
     }

     .merge .formrw{
      flex:1;
     }

     #submit {
      margin-right: auto;
       margin-left:auto;
       width:128px;
       margin-bottom: 24px;
       border:1px solid gray;
       text-align: center;
       padding:5px;
       cursor: pointer;
     }

     #submit:hover{
      background-color: black;
      color:white;
     }

     #progressbar {
      background-color: rgba(66, 244, 131,0.5);
      height:100%;
      width:0%;
     }





    @media(min-width: 600px) {

    .main {
      width:600px;
      margin-left:auto;
      margin-right:auto;
      margin-top: 24px;
      
     }
     
    }

    

   

   

   
   



    

    

  